@mixin displayFlexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin displayFlexBetween{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin displayFlexAround{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin displayFlexEvenly{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}